@{
    ViewBag.Title = "What's this?";
    ViewBag.Message = "The kitchen sink";
    }

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
What's this?  Not sure.  It began because I wanted to print out my MP3 collection and realized there was no software for that.  Easy, right?  Not as I thought.
</p>
<p>
In the process realized I was using memory streams, reflection and lot of techniques that might be on a certification exam but that I'd rarely used.  So scoped to XML and AJAX for transfers, then SQL server and Entity Framework.  Basically it is a "kitchen sink" project for anything I'm studying, to get get hands on with. 
</p>
<p>
I've avoided JavaScript and flare, focusing on fundamentals.  Leave that to the cool kids.  That may come at the end, when I may also finally implement the printing.
</p>
<p></p>
<address><strong>
    Richard Evans<br />
    nerd-for-hire (at) outlook (dot) com<br />
    Atlanta, GA 30316<br /></strong>
</address>
@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@