@model  List<MyMuse.Models.Album>
@{
    ViewBag.Title = "MyMuse";
}
<div class="row">
    <br />
    @Html.Partial("_carousel")
</div> 
<div class="row">   
    <center><h3>Project Kitchen Sink</h3></center>
</div>
<div class="distributed fragment" style="font-size: x-small">
    <div id="flex3070Distribute">
        <div>
            <ul>
                <li>Reflection & ID3 tags,</li>
                <li>XML (De)Serialization,</li>
                <li>Async files upload (WCF),</li>
                <li>Basic MVC with sorting & filter,</li>
                <li>EF 6, pagination,</li>
                <li>SignlarR Progress bar,</li>
            </ul>
        </div>
        <div>
            <b><u>TODO</u></b>
            <ul><li>Fully grok identity,</li>
                <li>Dynamically update view as EF loads,</li>
                <li>Socket UL/DL</li>
                <li>Googledrive/Onedrive,</li>
                <li>Win8 & Xamarin android client,</li>
                <li>Custom pagination</li>
                <li>Notifications,</li>
                <li>Printing, Prettifying,</li>
            </ul>
        </div>
    </div>
</div>
